name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        
    - uses: actions/cache@v4
      id: cache
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index
          ~/.cargo/registry/cache
          ~/.cargo/git/db
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Install wasm32-unknown-unknown target
      id: install_wasm_target
      if: steps.cache.outputs.cache-hit != 'true'
      run: rustup target add wasm32-unknown-unknown
        
    - name: Install wasm-bindgen
      id: install_wasm_bindgen
      if: steps.cache.outputs.cache-hit != 'true'
      run: cargo install --version =0.2.105 wasm-bindgen-cli
      
    - name: Build
      id: build
      if: steps.cache.outputs.cache-hit != 'true'
      run: cargo build --target wasm32-unknown-unknown --release
      
    - name: Run wasm-bindgen
      id: bind
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        wasm-bindgen \
          --target web target/wasm32-unknown-unknown/release/endless_sky_generator_web.wasm \
          --no-typescript \
          --out-dir "www/"
          
    - name: Upload static files as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3
      with:
        path: www/

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
      
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
